spring.application.name=demo

# 톰캣 포트 설정
server.port=8086

# PostgreSQL 연결 설정
spring.datasource.url=jdbc:postgresql://127.0.0.1:5434/toyProject
spring.datasource.username=wemb
spring.datasource.password=wemb
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA 설정 (엔티티 작성 시 테이블 자동 생성 및 SQL 로그 출력)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=false

# Flow APi Key
flow-api=20260728014223630-47a29d4a-8ed3-4821-bef5-82f64894bc9b